.image-division{
    text-align: center;
}

body{
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
}

img{
    border-radius: 77px;
    width: 50%;
    transition: all 0.5s ease-in-out;
}
img:hover{
    border-radius: 90px;
    width: 52%;
}

input[type=button]{
    border: 2px solid aliceblue;
    background-color: rgb(255, 255, 255, 0);
    font-family: verdana;
    font-size: 18px;
    color: aliceblue;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    width: 12%;
    transition: all 0.3s ease-in-out;
}

input[type=button]:hover{
    background-color: rgb(255, 255, 255, 0.3);
    width: 13%;
    font-size: 20px;
}