body,html{
    font-family: verdana;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.page
{
    width: auto;
    height: auto;
    
    border-radius: 10px;
    
}

.headerpart
{
    width: auto;
    height: 140px;
    background: rgba(0,0,0,0.7);
    border-style: outset;
    align-content: center;
    border-radius: 25px;
    background-repeat: no-repeat;
}

.headerpart h2
{
    color: white;
    margin-left: 130px;
    margin-top: -82px;
    text-align:;
}

.headerpart h3
{
    color: white;
    margin-left: 130px;
    margin-top: -20px;
    text-align:;
}

.linkspart
{
    width: auto;
    height: 20px;
    margin-top: 5px;
    background-color:rgb(12,100,198);
    border-style: groove;
}

.linkspart a
{
    color:rgb(245,246,251);
    text-decoration: none;
    
}

.linkspart a:hover
{
    background-color:rgb(245,246,251);
    color:rgb(12,100,198);
    
}

.bodypart
{
    width: auto;
    height: 600px;
    margin-top: 5px;
    background: rgba(0,0,0,0.7);
    
    
    
}

.bodypart .imagepart
{
    width: 710px;
    height: 320px;
    border-style: groove;
    background-image: url('Images/banner2.jpg');
    background-repeat: no-repeat;
    display: inline-block;
    
}

.links2part
{
    width: 710;
    height: 20px;
    border-style: groove;
    margin-top: 5px;
    background-color:rgb(12,100,198);
    display: inline-block;
}

.links2part a
{
    color:rgb(245,246,251);
    text-decoration: none;
    
}

.links2part a:hover
{
    background-color:rgb(245,246,251);
    color:rgb(12,100,198);
    
}

.bodypart .newspart
{
    width: 220px;
    height: 580px;
    border-style: groove;
    float: right;
    
    
}

.bodypart .newspart h2
{
    color: green;
    margin-left: 10px;
}

.bodypart .newspart .news
{
    width: 210px;
    height: 500px;
    
}

.bodypart .newspart .news h4
{
    
    color: skyblue;
    
}

.bodypart h3
{
    color: white;
    text-align: center;
}

.bodypart p
{
    color: white;
}

.Contacts
{
    color: white;
    background: rgba(0,0,0,0.7);
}

.mappart
{
    text-align: center;
    height: auto;
    width: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    background: rgba(0,0,0,0.7);
}

.footerpart
{
    width: auto;
    height: 25px;
    margin-top: 5px;
    background-color:rgb(12,100,198);
    border-style: groove;
    text-decoration: none;
}

.footerpart a
{
    color:rgb(245,246,251);
    text-decoration: none;
    
}

.footerpart a:hover
{
    background-color:rgb(245,246,251);
    color:rgb(12,100,198);
    
}